<div class="al-keret">
    <div class="al-szuro">
        @for (bolt of boltok; track bolt.order) {
        <div class="szuro-bolt" [ngClass]="{'aktiv': boltSzuresAktiv && this.boltSzuroMap.get(bolt.id)}"
             (click)="boltSzuroKlikk(bolt)">
            <img [src]="bolt.image">
        </div>
        }
        <!-- <p *ngFor="let bolt of boltok | keyvalue">
            {{ bolt.key }} - {{ bolt.value}}
        </p> -->
    </div>
    <div class="al-kereso">
        <div class="kereso-gomb">
            <p-button label="Submit"
                      [loading]="loading"
                      (onClick)="load()"></p-button>
        </div>
        <div class="kereso-szoveg">
            <input type="text"
                   pInputText
                   [(ngModel)]="keresoSzoveg" />
        </div>
    </div>
    <div class="al-torzs">
        @for (tetel of kivalasztottListaTetelei(); track tetel.azon) {
        <div class="törzs-bolt">
            <span>{{tetel.boltAzon}} - {{tetel.kezdoNap}} - {{tetel.vegeNap}} - {{tetel.nev}}</span>
        </div>
        }
    </div>
</div>