@if (kivalasztottLista()) {
<div class="al-keret">
    <div class="al-szuro">
        @for (bolt of boltok; track bolt.order) {
        <div class="szuro-bolt"
             [ngClass]="{'aktiv': boltSzuro().length > 0 && ezKijeloltBolt(bolt), 'halvany': boltSzuro().length > 0 && !ezKijeloltBolt(bolt)}"
             (click)="boltSzuroKlikk(bolt)">
            <img [src]="bolt.image">
        </div>
        }
        <!-- <p *ngFor="let bolt of boltok | keyvalue">
            {{ bolt.key }} - {{ bolt.value}}
        </p> -->
    </div>
    <div class="al-kereso">
        <div class="kereso-gomb">
            <p-button [loading]="loading"
                      size="small"
                      [label]="keresoGombSzoveg()"
                      (onClick)="rotalas()"></p-button>
        </div>
        <div class="kereso-szoveg">
            <input type="text"
                   pInputText
                   [ngModel]="szuroSzoveg()"
                   (ngModelChange)="szuroSzoveg.set($event)" />
        </div>
        <div class="kereso-torlo">
            <p-button icon="pi pi-search-minus"
                      severity="danger"
                      (onClick)="szuroTorles()"
                      [ngClass]="{'rejtett': boltSzuro().length == 0 && szuroSzoveg().length == 0}"></p-button>
        </div>
    </div>
    <div class="al-torzs">
        @for (boltkey of kivalasztottListaTetelei().keys(); track boltkey) {
        <div class="törzs-bolt">
            <div class="bolt-fej">
                {{boltkey}}
            </div>
            <div class="bolt-torzs">
                @for (intervallumkey of kivalasztottListaTetelei().get(boltkey).keys(); track intervallumkey) {
                <div class="intervallum-blokk">
                    <div class="intervallum-fej">{{intervallumkey}} -
                        {{kivalasztottListaTetelei().get(boltkey).get(intervallumkey)[0].kezdoNapNevRov}} -
                        {{kivalasztottListaTetelei().get(boltkey).get(intervallumkey)[0].vegeNapNevRov}}</div>
                    <div class="intervallum-torzs">
                        @for (tetel of kivalasztottListaTetelei().get(boltkey).get(intervallumkey); track tetel) {
                        <div class="tetel-sor">{{tetel.nev}}</div>
                        }
                        @for (item of [].constructor(10); track $index) {
                        <div class="tetel-sor">{{$index}}</div>
                        }
                    </div>
                </div>
                }
                @empty {
                <div class="ures-lista"></div>
                }
            </div>
        </div>
        }
    </div>
</div>
}
@else {
@if (!ujListaModalLathato) {
<div class="nincs-lista-keret">
    <div class="nincs-lista-uzi">Az adott dátumhoz mégnem került lista rögzítésre.
    </div>
    <div class="nincs-lista-uj">
        <p-button icon="pi pi-plus"
                  severity="success"
                  label="Új lista rögzítése"
                  (onClick)="ujListaFelvetelInditas()"></p-button>
    </div>
</div>
}
@else {
<div class="lista-felvetel">
    <div class="felvetel-form">
        <p-calendar [(ngModel)]="ujListaIntervallumDatumok"
                    selectionMode="range"
                    [dateFormat]="dateFormat"
                    [readonlyInput]="true"
                    [firstDayOfWeek]="1"
                    [inline]="true"
                    (onSelect)="hetek($event)"></p-calendar>
                    {{ujListaIntervallumDatumok[0]}} - {{ujListaIntervallumDatumok[1]}}
    </div>
    <div class="felvetel-gombok">
        <p-button icon="pi pi-plus"
                  severity="success"
                  label="Felvétel"
                  (onClick)="ujListaFelvetele()"></p-button>
        <p-button icon="pi pi-undo"
                  severity="warning"
                  label="Mégse"
                  (onClick)="ujListaMegse()"></p-button>

    </div>
</div>
}
}