.al-keret {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .al-szuro {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        height: 55px;

        .szuro-bolt {
            height: 55px;
            // min-width: 80px;
            border: 2px white solid;
            background-color: white;
            position: relative;
            box-sizing: border-box;
            line-height: 0px;

            &.aktiv {
                border: 2px red solid;
                background-color: red;
            }

            &.halvany::after {
                content: "";
                position: absolute;
                top: 0px;
                right: 0px;
                bottom: 0px;
                left: 0px;
                background-color: white;
                opacity: 0.3;
            }
    
            img {
                max-height: 50px;
            }
        }

    }

    .al-kereso {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        margin-top: 4px;
        height: 46px;

        .kereso-gomb {
            max-width: 30%;
            min-width: 76px;
        }

        .kereso-szoveg {
            max-width: 65%;
        }

        .kereso-torlo {
            min-width: 50px;
        }
    }

    .al-torzs {
        width: 100%;
        height: calc(100% - 102px);
        overflow-x: hidden;
        overflow-y: auto;
    }

    .rejtett {
        display: none;
    }
}